
    <title>Plant Story</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">
    
    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/css/aos.css">

    <link rel="stylesheet" href="/stylesheets/css/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/stylesheets/css/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/css/icomoon.css">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
	
    <!-- Include other necessary CSS and JavaScript files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
  
  <div class="goto-here">
	{{>user-header}}
  
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('/images/GIFTING.webp');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>


{{#if products}}
    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
                                 {{#each products}}
						      <tr class="text-center">
                               
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url(/uploads/{{this.image.[0]}});"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{this.productname}}</h3>
						        	{{!-- <p>Far far away, behind the word mountains, far from the countries</p> --}}
						        </td>
						        
						        <td  class="price">${{this.price}}

  	

                                </td>
						        
						        {{!-- <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="{{this.quantity}}" min="1" max="100">
					          	</div>
					          </td> --}}
                              
                              <td>
 <button id="decrement-btn" class="decrement-btn" style="background: transparent;" onclick="changeQuantity('{{this._id}}', -1, '{{this.user_id}}', {{this.quantity}})">-</button>
<input type="text" id="quantity{{this._id}}" name="quantity" value="{{this.quantity}}" min="1" max="100" readonly>
<button id="increment-btn" class="increment-btn" style="background: transparent;" onclick="changeQuantity('{{this._id}}', 1, '{{this.user_id}}', {{this.quantity}})">+</button>
{{#if  message}}
        <p style="color:green;">{{message}}</p>
                                {{/if}}
                              </td>
                             
						        
						        <td id="productTotal_{{this._id}}" class="total">${{this.total}}</td>
                              
						      </tr>
                                {{/each}}
                              <!-- END TR-->

						      {{!-- <tr class="text-center">
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url(images/product-4.jpg);"></div></td>
						        
						        <td class="product-name">
						        	<h3>Bell Pepper</h3>
						        	<p>Far far away, behind the word mountains, far from the countries</p>
						        </td>
						        
						        <td class="price">$15.70</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
					          	</div>
					          </td>
						        
						        <td class="total">$15.70</td>
						      </tr> --}}
                              <!-- END TR-->
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Coupon Code</h3>
    					<p>Enter your coupon code if you have one</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Coupon code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
    			</div>
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				{{!-- <div class="cart-total mb-3">
    					<h3>Estimate shipping and tax</h3>
    					<p>Enter your destination to get a shipping estimate</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Country</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">State/Province</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">Zip/Postal Code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p> --}}
    			</div>
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span id="summary">${{this.subtotal}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>$0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>$0.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span id="summary-subtotal">${{this.subtotal}}</span>
    					</p>
    				</div>
    				<p><a href="/checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{{else}}
<img class="img-fluid" src="/images/empty-cart-5521508-4610092.png" style="margin-left: 364px;" alt="Colorlib Template">
<h1>Your Cart Is Empty</h1>
{{/if}}
    <footer class="ftco-footer ftco-section">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Vegefoods</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
</div>


  <script src="/javascripts/js/jquery.min.js"></script>
  <script src="/javascripts/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/javascripts/js/popper.min.js"></script>
  <script src="/javascripts/js/bootstrap.min.js"></script>
  <script src="/javascripts/js/jquery.easing.1.3.js"></script>
  <script src="/javascripts/js/jquery.waypoints.min.js"></script>
  <script src="/javascripts/js/jquery.stellar.min.js"></script>
  <script src="/javascripts/js/owl.carousel.min.js"></script>
  <script src="/javascripts/js/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/js/aos.js"></script>
  <script src="/javascripts/js/jquery.animateNumber.min.js"></script>
  <script src="/javascripts/js/bootstrap-datepicker.js"></script>
  <script src="/javascripts/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/javascripts/js/google-map.js"></script>
  <script src="/javascripts/js/main.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>


  {{!-- <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.increment-btn').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.decrement-btn').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script> --}}
    
  <script>
function changeQuantity(proId, count, userId, quantity) {
  console.log("clicked");

  $.ajax({
    url: "/change-product-quantity",
    method: "post",
    data: {
      productId: proId,
      count: count,
      userId: userId,
      quantity: quantity,
    },
    success: (response) => {
      console.log(response);
      if (response.deleteProduct) {
        location.reload(); // Reload the page
      } 
	else if(response.outOfStock){
		 showSweetAlert(
          "Insufficient Stock",
          "Product is out of stock",
          "warning"
        );

	}
	  else {
        console.log(response, 'ajax response');
        const quantityInput = document.getElementById(`quantity${proId}`);
        quantityInput.value = response.quantity;

        const productTotal = document.querySelector(`#productTotal_${proId}`);
        productTotal.textContent = response.productTotal;

        const subtotal = document.getElementById(`summary`);
        subtotal.textContent = response.subtotal;

        const summarySubtotal = document.getElementById(`summary-subtotal`);
        summarySubtotal.textContent = response.subtotal;
      }

      if (response.error) {
        showSweetAlert("Error", response.message, "error");
      } else if (response.stock < response.quantity) {
        showSweetAlert(
          "Insufficient Stock",
          "Product is out of stock",
          "warning"
        );
      }
    },
    error: (error) => {
      console.log(error);
      showSweetAlert("Error", "An error occurred", "error");
    }
  });
}
  

function showSweetAlert(title, text, icon) {function showSweetAlert(title, text, icon) {
  Swal.fire({
    title: title,
    text: text,
    icon: icon,
    showCancelButton: false,
    confirmButtonColor: "#000000",
    confirmButtonText: "OK",
    customClass: {
      container: "swal-container",
      title: "swal-title",
      content: "swal-text",
      confirmButton: "swal-button"
    },
    onOpen: () => {
      // Set the text color to white
      const swalContainer = document.querySelector(".swal-container");
      swalContainer.style.color = "white";

      // Remove the border from the OK button
      const okButton = document.querySelector(".swal-button");
      okButton.style.border = "none";
    }
  });
}
//Make sure you have the necessary CSS and JavaScript files for the SweetAlert library included in your HTML file.

  Swal.fire({
    title: title,
    text: text,
    icon: icon,
    showCancelButton: false,
    confirmButtonColor: "#000000",
    confirmButtonText: "OK",
    customClass: {
      container: "swal-container",
      title: "swal-title",
      content: "swal-text",
      confirmButton: "swal-button"
    },
    onOpen: () => {
      // Set the text color to white
      const swalContainer = document.querySelector(".swal-container");
      swalContainer.style.color = "white";

      // Remove the border from the OK button
      const okButton = document.querySelector(".swal-button");
      okButton.style.border = "none";
    }
  });
}

  </script>
 

  